/*Font Setting Zone*/
@font-face {
    font-family: kanit_thin;
    src: url('./font/Kanit-Thin.ttf');
}
@font-face {
    font-family: kanit_light;
    src: url('./font/Kanit-Light.ttf');
}
@font-face {
    font-family: kanit_regular;
    src: url('./font/Kanit-Regular.ttf');
}
@font-face {
    font-family: kanit_medium;
    src: url('./font/Kanit-Medium.ttf');
}
@font-face {
    font-family: kanit_semibold;
    src: url('./font/Kanit-SemiBold.ttf');
}
@font-face {
    font-family: kanit_bold;
    src: url('./font/Kanit-Bold.ttf');
}

/*placeholder color*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: left;
  color: #B3B3B3;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: left;
  color: #B3B3B3;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: left;
  color: #B3B3B3;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: left;
  color: #B3B3B3;
}

/*sweetalert*/
.btn-danger{
  color: #F0F0F0;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-lg, .btn-group-lg>.btn{
  padding: 14px 24px;
  font-size: calc(10px + 0.64vw);
  line-height: 1.33;
  border-radius: 6px;
}
.btn-default{ /*Cancel button*/
  color: #2a2a2a;
  background-color: #fff;
  border: 1px solid #ccc;
}
.btn-primary{ /*button in warning*/
  color: #fff;
  font-size: calc(10px + 0.48vw);
  font-family: kanit_bold;
  background-color: #428bca;
  border-color: #357ebd;
}

html{
  word-break: break-all;
}
body{
  font-family: kanit_regular;
  background-color: #050505;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}
div{
  box-sizing: border-box;
}

/*Table Result*/
table{
  opacity: 0.95;
  margin: auto;
  margin-bottom: 20px;
  width: 1000px;
  color: #f0f0f0;
  border-collapse: collapse;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
td{
  font-family: kanit_regular;
  padding: 15px 20px;
}
input{
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="text"]{
  display: block;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: calc(6px + 1.3vw);
  font-family: kanit_regular;
  box-sizing: border-box;
}
input[type="submit"]{
  display: block;
  outline: none;
  font-family: kanit_bold;
  box-sizing: border-box;
}
textarea{
  display: block;
  resize: none;
  border: none;
  outline: none;
  padding: 14px 15px;
  padding-left: 25px;
  font-family: kanit_regular;
  box-sizing: border-box;
}
button{
  border: none;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
}

.content h1{
  color: #F0F0F0;
  font-size: calc(10px + 4.88vw);
  font-family: kanit_light;
  margin: 0;
}
.content h2{
  color: #F0F0F0;
  text-align: center;
  font-size: calc(10px + 3.24vw);
  font-family: kanit_light;
  margin: 0;
}
.content h3{
  color: #F0F0F0;
  text-align: center;
  font-size: calc(8px + 2.24vw);
  font-family: kanit_light;
  margin: 0;
  margin-bottom: 25px;
}
.content h4{
  color: #F0F0F0;
  text-align: center;
  font-size: calc(5px + 1.74vw);
  font-family: kanit_light;
  margin: 0;
  margin-bottom: 25px;
}

/*important for fade in/out animation*/
.show{
  opacity: 1;
  transition: opacity 0.3s;
}
.hide{
  opacity: 0;
  transition: opacity 0.5s;
}

/*All Class&Id*/
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a2c48;
  background-image: url('../image/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  z-index: -999;
}

.benefit_topic_col{
  background-color: #3E8AC0;
  border-left: 2px solid #f0f0f0;
  font-size: calc(5px + 1.74vw);
  font-family: kanit_medium;
  padding: 20px 24px;
}
.disadvantage_topic_col{
  background-color: #B63D44;
  border-right: 2px solid #f0f0f0;
  font-size: calc(5px + 1.74vw);
  font-family: kanit_medium;
  padding: 20px 24px;
}
.benefit_col{
  font-size: calc(5px + 1.46vw);
  text-align: center;
  vertical-align: top;
  width: 50%;
  color: #3E8AC0;
  background-color: #9FC5E0;
  border-left: 2px solid #f0f0f0;
}
.benefit_col span{
  text-align: center;
  display: block;
  padding: 0px 12px;
  border-left: 3px solid #3E8AC0;
}
.disadvantage_col{
  font-size: calc(5px + 1.46vw);
  text-align: center;
  vertical-align: top;
  width: 50%;
  color: #B63D44;
  background-color: #DB9EA2;
  border-right: 2px solid #f0f0f0;
}
.disadvantage_col span{
  text-align: center;
  display: block;
  padding: 0px 12px;
  border-right: 3px solid #B63D44;
}
.no_data{
  font-size: calc(5px + 1.62vw);
  vertical-align: middle;
}

.content{
  width: 1250px;
  margin: auto;
}

/*Topic Style*/
.topic_zone{
  margin: auto;
  width: 55%;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}
.topic_zone h3{
  margin-bottom: 2vw;
}
/*Topic Zone Before Submit*/
.before_submit{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.topic_form input[type="text"]{
  width: 100%;
  color: #F16645;
  background-color: rgba(0, 0, 0, 0.6);
  padding: calc(15px + 0.4vw) calc(15px + 0.8vw);
  border-radius: 10px;
  margin-bottom: 1.6vw;
  transition: 0.3s;
}
.topic_form input[type="text"]:focus{
  background-color: rgba(255, 255, 255, 0.05);
  color: #f0f0f0;
  padding: calc(15px + 0.6vw) calc(15px + 1vw);
  border: 1px solid #fff;
}
.topic_form input[type="submit"]{
  width: 30%;
  background-color: rgba(241, 102, 69, 0.9);
  color: #F0F0F0;
  border: none;
  border-radius: calc(2px + 1.24vw);
  margin: auto;
  padding: 10px 40px;
  font-size: calc(6px + 1.3vw);
  transition: 0.6s;
}
.topic_form input[type="submit"]:hover{
  cursor: pointer;
  background-color: rgba(240, 240, 240, 0.15);
}
.show_result input[type="text"]{ /*For show result*/
  color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: calc(6px + 1.9vw);
  padding: 13px 16px;
  border: 1px solid #fff;
  text-align: center;
}
#after_submit{
  text-align: center;
}

/*Choice form*/
.form{
  display: block;
  width: 1000px;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  overflow: auto;
  box-sizing: border-box;
}
.form input[type="text"]{
  width: 75%;
  height: calc(25px + 2.24vw);
  float: left;
  margin-left: 7.5%;
  padding: 10px 12px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
  text-align: center;
  transition: 0.5s;
}
.form input[type="text"]:focus{
  background-color: rgba(255, 255, 255, 0.05);
  color: #F0F0F0;
  text-align: left;
  padding: 9px 12px;
  border: 1px solid #FFFFFF;
}
.form button{
  width: 10%;
  height: calc(25px + 2.24vw);
  border-radius: 0px;
  background-color: rgba(255, 105, 97, 0.9);
  color: #F0F0F0;
  padding: 10px 12px;
  font-family: kanit_bold;
  font-size: calc(5px + 1.6vw);
  transition: 0.6s;
}
.form button:hover{
  cursor: pointer;
  background-color: rgba(240, 240, 240, 0.15);
}
.choice_form{
  margin-bottom: 15px;
}
.retry{
  width: 1100px;
}

/*Benefit and disadvantage*/
.bedis_form{
  width: 100%;
  display: inline-block;
  float: none;
}
#benefitremove{
  width: 20%;
  height: calc(30px + 4.48vw);
  padding: 13px 12px;
  margin: 0px;
  font-size: calc(10px + 2.28vw);
  color: #F0F0F0;
  background-color: #5AB4BE;
  border: none;
}
#disadvantageremove{
  width: 20%;
  height: calc(30px + 4.48vw);
  padding: 13px 12px;
  margin: 0px;
  font-size: calc(10px + 2.28vw);
  color: #F0F0F0;
  background-color: #BE645A;
  border: none;
}

/*Benefit Zone*/
.benefit_form{
  width: 48%;
  float: left;
  padding: 15px;
  padding-top: 0px;
  box-sizing: border-box;
}
.benefit_form h3{
  color: #5AB4BE;
  font-family: kanit_bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F0F0F0;
  margin-bottom: 5px
}
.benefit_form textarea{
  width: 80%;
  height: calc(30px + 4.48vw);
  float: left;
  padding: 10px 12px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #F0F0F0;
  font-size: calc(6px + 1.3vw);
  transition: 0.3s;
}
.benefit_form textarea:focus{
  background-color: rgba(255, 255, 255, 0.05);
  color: #F0F0F0;
  padding: 9px 12px;
  border: 1px solid #FFFFFF;
}
.benefit_form button{
  width: 100%;
  height: calc(25px + 2.64vw);
  color: #69DBE7;
  background-color: rgba(255, 255, 255, 0.05);
  border: 3px solid #5AB4BE;
  padding: 10px 12px;
  margin-bottom: 15px;
}
.benefit_form button:hover{
  cursor: pointer;
  color: #F0F0F0;
  background-color: #5AB4BE;
}

/*disadvantage Zone*/
.disadvantage_form{
  width: 48%;
  margin-left: 4%;
  float: left;
  padding: 15px;
  padding-top: 0px;
  box-sizing: border-box;
}
.disadvantage_form h3{
  color: #F38073;
  font-family: kanit_bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #F0F0F0;
  margin-bottom: 5px
}
.disadvantage_form textarea{
  width: 80%;
  height: calc(30px + 4.48vw);
  float: left;
  margin-bottom: 5px;
  padding: 10px 12px;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #F0F0F0;
  font-size: calc(6px + 1.3vw);
  transition: 0.3s;
}
.disadvantage_form textarea:focus{
  background-color: rgba(255, 255, 255, 0.05);
  color: #F0F0F0;
  padding: 9px 12px;
  border: 1px solid #FFFFFF;
}
.disadvantage_form button{
  width: 100%;
  height: calc(25px + 2.64vw);
  color: #F38073;
  background-color: rgba(255, 255, 255, 0.05);
  border: 3px solid #F38073;
  padding: 10px 12px;
  margin-bottom: 15px;
}
.disadvantage_form button:hover{
  cursor: pointer;
  color: #F0F0F0;
  background-color: #F38073;
}
.best_result{
  font-family: kanit_regular;
  font-size: calc(10px + 3.48vw);
}
.effect{
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 0px 0px 15px 15px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-appearance: button;
  outline: none;
  box-sizing: border-box;
}

/*add choice and make a choice button*/
#add_choice{
  width: 46%;
  margin-top: 2px;
  color: #C3C3C3;
  float: left;
  background-color: #367588;
  border-radius: 30px 0px 0px 30px;
  box-sizing: border-box;
  transition: 0.2s;
}
#add_choice:hover{
  color: #fff;
  background-color: #4EA8C3;
}
#center_choice{
  width: 8%;
  height: auto;
  padding: 12px 16px;
  float: left;
  background-color: #35BBAD;
  border-radius: 1px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
#center_choice:hover{
  color: #fff;
  transform: scale(1.2);
  background-color: #F16645;
}
#make_choice{
  width: 46%;
  margin-top: 2px;
  color: #C3C3C3;
  float: left;
  background-color: #884936;
  border-radius: 0px 30px 30px 0px;
  box-sizing: border-box;
  transition: 0.2s;
}
#make_choice:hover{
  color: #fff;
  background-color: #D88B5C;
}
#result{
  margin-top: 50px;
}

/*Transtition Animation*/
/*Fade in choice*/
.addchoice_form{
  opacity: 0;
}
#addchoice_form{
  transition: all 1s;
}

/*Fade in benefit and disadvantage*/
.addbedis_form{
  opacity: 0;
}
#addbedis_form{
  transition: all 1s;
}
#contentid{
  transition: 0.5s;
}

/*Loading Style*/
.loader,
.loader:after {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: calc(-15px - 2vw);
  margin-left: calc(-15px - 2vw);
  border-radius: 50%;
  width: calc(30px + 4vw);
  height: calc(30px + 4vw);
}
.loader {
  text-indent: -9999em;
  border-top: 10px solid rgba(255, 255, 255, 0.2);
  border-right: 10px solid rgba(255, 255, 255, 0.2);
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  border-left: 10px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: rotate_animation 1.1s infinite linear;
  animation: rotate_animation 1.1s infinite linear;
}

/*tell step of choice making*/
.container{
  position: relative;
  width: 100%;
  height: calc(30px + 5.6vw);
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}
.progressbar {
  counter-reset: step;
  padding: 0px;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: calc(5px + 1.04vw);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #f0f0f0;
}
.progressbar li:before {
  width: calc(10px + 2.4vw);
  height: calc(10px + 2.4vw);
  color: #2a2a2a;
  font-family: "Font Awesome 5 Free";
  content: '\f013';
  font-weight: 900;
  counter-increment: step;
  line-height: calc(10px + 2.4vw);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: calc(1.5px + 0.04vw);
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: calc(5px + 1vw);
  left: -50%;
  z-index: -1;
  -webkit-transform:translate3d(0, 0, 0); /*active z-index on safari*/
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #f0f0f0;
}
.progressbar li.active:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: #fff;
  background-color: #90D982;
  border-color: #55b776;
  transition: all 0.8s;
}
.progressbar li.active + li:after {
  background-color: #90D982;
  background-image: linear-gradient(90deg, #90D982 50%, #7d7d7d 100%);
}

@-webkit-keyframes rotate_animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate_animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1550px){
  .form button{
    padding: 8.5px 12px;
  }
  .topic_zone h3{
    margin-bottom: 1vw;
  }
  .topic_form input[type="text"]{
    margin-bottom: 1.2vw;
  }
  table{
    width: 95%;
  }
  .form{
    width: 90%;
  }
  .content{
    width: 85%;
  }
  .topic_zone{
    width: 55%;
  }
  #result{
    width: 90%;
  }
}
@media only screen and (max-width: 1250px) {
  .form button{
    padding: 8.5px 12px;
  }
  table{
    width: 95%;
  }
  .form{
    width: 95%;
  }
  .content{
    width: 100%;
  }
  .topic_zone{
    width: 60%;
  }
  #result{
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .benefit_form textarea{
    width: 75%;
  }
  .disadvantage_form textarea{
    width: 75%;
  }
  #benefitremove{
    width: 25%;
  }
  #disadvantageremove{
    width: 25%;
  }
  .topic_zone{
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .topic_zone{
    width: 70%;
  }
  .form{
    width: 97%;
  }
}
@media screen and (max-width: 800px) {
  .form input[type="text"]{
    width: 80%;
    margin-left: 2.5%;
  }
  .form button{
    width: 15%;
  }
  #add_choice{
    width: 44%;
  }
  #center_choice{
    width: 12%;
  }
  #make_choice{
    width: 44%;
  }
  .topic_zone{
    width: 80%;
  }
  .benefit_form{
    width: 100%;
    margin: auto;
  }
  .benefit_form button{
    width: 95%;
    margin-left: 2.5%;
  }
  .benefit_form textarea{
    width: 80%;
    margin-left: 2.5%;
  }
  .disadvantage_form{
    width: 100%;
    margin: auto;
  }
  .disadvantage_form button{
    width: 95%;
    margin-left: 2.5%;
  }
  .disadvantage_form textarea{
    width: 80%;
    margin-left: 2.5%;
  }
  #benefitremove{
    width: 15%;
    padding: 10px 12px;
  }
  #disadvantageremove{
    width: 15%;
    padding: 10px 12px;
  }
  .topic_zone{
    width: 70%;
  }
  #result{
    width: 95%;
  }
  .show_result input[type="text"]{
    padding: 10px 16px;
  }
}
@media screen and (max-width: 700px) {
  .benefit_form button{
    padding: 8px;
  }
  .disadvantage_form button{
    padding: 8px;
  }
  .topic_form input[type="submit"]{
    width: 35%;
    padding: 8px 15px;
  }
}
@media screen and (max-width: 600px) {
  .topic_form input[type="text"]{
    padding: 10px 20px;
  }
  .topic_form input[type="text"]:focus{
    padding: 10.5px 22px;
  }
  .form button{
    padding: 5.5px 12px;
  }
  .form{
    width: 100%;
  }
  .form input[type="text"]{
    width: 78%;
    margin-left: 2.5%;
  }
  .form button{
    width: 17%;
  }
  .benefit_form button{
    width: 95%;
    margin-left: 2.5%;
  }
  .benefit_form textarea{
    width: 75%;
    margin-left: 2.5%;
  }
  .disadvantage_form button{
    width: 95%;
    margin-left: 2.5%;
  }
  .disadvantage_form textarea{
    width: 75%;
    margin-left: 2.5%;
  }
  #benefitremove{
    width: 20%;
  }
  #disadvantageremove{
    width: 20%;
  }
  .show_result input[type="text"]{
    padding: 10px 16px;
  }
}
@media screen and (max-width: 500px) {
  #add_choice{
    padding: 8px;
    width: 42.5%;
  }
  #center_choice{
    width: 15%;
  }
  #make_choice{
    padding: 8px;
    width: 42.5%;
  }
  .topic_zone{
    width: 75%;
  }
}
@media screen and (max-width: 400px) {
  .benefit_form textarea{
    width: 70%;
    margin-left: 2.5%;
  }
  .disadvantage_form textarea{
    width: 70%;
    margin-left: 2.5%;
  }
  #benefitremove{
    width: 25%;
    padding: 7px 12px;
  }
  #disadvantageremove{
    width: 25%;
    padding: 7px 12px;
  }
  .show_result input[type="text"]{
    padding: 10px 16px;
  }
}
